//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: Corporate Trust
description: Expect the dependable financing administration your large building projects require.

breadcrumb:
  rootname: Institutional Asset Management
  rooturl: /institutional-asset-management/

  currentpage: Corporate Trust

sidebar:
  image: meeting-2.jpg
  title: Connect with Commerce Trust
  text: Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
  button_text: Learn more
  button_url: http://google.com

---
//- This will add the content of this page inside the 'global.jade' file
extends ../../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Indent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Indent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text Expect the dependable financing administration your large building projects require.
    .banner-standard__media-approach.col-7-12
      img(src="../images/corporate_trust.jpg", alt="Contractor foreman reviewing construction plans")
  .breadcrumb
    a.breadcrumb__link(href="#{breadcrumb.rooturl}")= breadcrumb.rootname
    span= ' | ' + title
  .main-standard
    .main-standard__content.col-7-12
      .main-standard__text
        p That moment has come when your county, district, or municipality has authorized construction on a long-sought-after civic improvement – and you are the caretaker for the project. Your bond issue will finance the project, and you are interested in the timely payment of the principal and interest on the bonds. Who is qualified to perform the tasks necessary to assure compliance with bond covenants for the benefit of the investor?
        p The Commerce Trust Company’s corporate trust department is an experienced trustee that can help you address management of your bond issues efficiently and effectively. Our extensive knowledge and depth of professional resources allow us to consistently provide dependable corporate trust services to our clients.
        ul
          li We have been involved in municipal finance since the 1920s.
          li We serve as trustee for more than 1,100 clients, with $13.7 billion in principal amount outstanding.
          li Our municipal and corporate clients, located primarily in the Midwest, can range in size of bond issue from less than $1 million to more than $1 billion.

    include ../../inc/sidebar.jade
