footer
  .cta-subscribe
    .cta-subscribe__signup
      h2.cta-subscribe__heading Subscribe to Our Latest Insights
      .cta-subscribe__box
        .cta-subscribe__input-add-on.col-8-12
          input.cta-subscribe__input(
            type="email"
            name="subscribe-newsletter"
            required="required"
          )
        .cta-subscribe__input-add-on.col-4-12
          input.cta-subscribe__button(
            type="submit"
            value="Sign Up"
          )
    .cta-subscribe__error
      h2.cta-subscribe__error-msg Please enter a valid email address
    .cta-subscribe__message
      h2.cta-subscribe__heading Thank you for subscribing!
        p Check your email to confirm your subscription.


  nav.nav-footer
    .nav-footer__box.col-3-12
      ul.nav-footer__sub-links
        each val in nav_major[1].sub
          li
            a.footer-nav__link(href="#{val.suburl}")= val.subpage

    .nav-footer__box.col-3-12
      ul.nav-footer__sub-links
        each val in nav_major[2].sub
          li
            a.footer-nav__link(href="#{val.suburl}")= val.subpage

    .nav-footer__box-narrow.col-2-12
      ul.nav-footer__sub-links
        each val in nav_major[0].sub
          li
            a.footer-nav__link(href="#{val.suburl}")= val.subpage

    .nav-footer__box-narrow.col-2-12
      ul.nav-footer__sub-links
        li
          a(href="#{nav_major[1].url}")= nav_major[3].page
        li
          a.footer-nav__link(href="#") Connect on LinkedIn

    .nav-footer__box-narrow.col-2-12
      a.nav-footer__button(href="") Visit Commerce Family Office
      a.nav-footer__button(href="") Visit Commerce Family Office


  .footer-copyright
    .footer-copyright__logo.col-5-12
      .footer-copyright__logo-box
        include ../inc/logo-plain

    .footer-copyright__box.col-5-12
      //- Copyright info is being injected here using JS to get the current year
      each val in nav_terms
        small
          a.nav-minor__link(href="#{val.url}")= val.page


  .footer-disclaimer
    .footer-disclaimer__box.col-8-12
      h6.footer-disclaimer__heading Disclosures:
      p.footer-disclaimer__text To send an email that contains confidential information, please visit the Secure Message Center where there are additional instructions about whether to use Secure Email or Online Banking messaging.
      p.footer-disclaimer__text Mutual funds, annuities, and other investment products:
      ul.footer-disclaimer__list
        li Not FDIC-insured
        li May lose value
        li No bank guarantee

//-This nav is brought to the top with jquery to fit responsive needs
include ../inc/nav
