//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//- This file uses the Leadership data in the data.yml file
---
title: Our Leadership
description: Collaboratively administrate empowered markets via plug-and-play networks.

breadcrumb:
  rootname: Our Approach
  rooturl: /our-approach/
  currentpage: Our Leadership

---
//- This will add the content of this page inside the 'global.jade' file
extends ../../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Iindent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Iindent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text
    .banner-standard__media-leadership.col-7-12
      img(src="../images/successful-team.jpg", alt="The Commerce Trust Company Leadership Team")
  .breadcrumb
    a.breadcrumb__link(href="#{breadcrumb.rooturl}")= breadcrumb.rootname 
    span= ' > ' + title
  .main-bios
    each val in leadership
      .card-bio
        .card-bio__media.col-2-12
          img(src="../images/#{val.image}", alt="#{val.name}")
        .card-bio__box.col-10-12
          h2.card-bio__heading= val.name
          h3.card-bio__subtitle= val.title
          a(href="#{val.linkedin}") LinkedIn
          .card-bio__text
            p= val.bio
