//-
//- This is a 'Frontmatter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: News & Insights
description: Latest News

sidebar:
  image: meeting-2.jpg
  title: Connect with Commerce Trust
  text: Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. 
  button_text: Learn more
  button_url: http://google.com

articles:
  - title: Lorem ipsum dolor sit amet, consectetur adipiscing elit
    date: February 15, 2015
    url: /news-and-insights/blog-post.html

  - title: Lorem ipsum dolor sit amet
    date: February 15, 2015
    url: /news-and-insights/blog-post.html
    
  - title: Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor sit amet, consectetur adipiscing elit
    date: February 15, 2015
    url: /news-and-insights/blog-post.html
    
  - title: Lorem ipsum
    date: February 15, 2015
    url: /news-and-insights/blog-post.html
    
  - title: Lorem ipsum
    date: February 15, 2015
    url: /news-and-insights/blog-post.html
    
  - title: Lorem ipsum
    date: February 15, 2015
    url: /news-and-insights/blog-post.html
    
  - title: Lorem ipsum
    date: February 15, 2015
    url: /news-and-insights/blog-post.html
    
  - title: Lorem ipsum
    date: February 15, 2015
    url: /news-and-insights/blog-post.html
    
  - title: Lorem ipsum
    date: February 15, 2015
    url: /news-and-insights/blog-post.html
---
//- This will add the content of this page inside the 'global.jade' file
extends ../../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Iindent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Iindent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-panorama
  
  .main-news    
    .card-article.col-8-12
      each val in articles
        .card-article__box
          a(href="#{val.url}")
            h2= val.title
          small= val.date
          p= lorem.p
      nav.loader__nav
        #loadMore.loader__button Load more
        #showLess.loader__button Show less
              
    include ../../inc/sidebar.jade
